.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.tags ul li {
    padding: 2px 4px;
    background-color: steelblue;
    margin-right: 1px;
    color: white;
}
.newsletter h2 {
    font-size: 24px
}
