
.footer {
    width: 60rem;
    margin: 0 auto;
    text-align: center;
}

.newsletter {
    width: 60rem;
    background-color: #f2f4f5;
    text-align: center;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.newsletter h2 {
    font-size: 1.5rem
    


}