
.nav {
    display: inline-block;
    width: 52.5rem;
    text-align: right;
}



.nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
}

.contenedor {
    width: 60rem;
    margin: 0 auto;
}

.menu {
    width: 60rem;
    padding: .625rem;
    border-bottom: .0625rem $solid-gray
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
}
* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
}
