.cuerpo img {
    width: 13.125rem;
    height: 18.75rem;
}
.noticia {
    width: 13.125rem;
    display: inline-block;
    margin: .3125rem;
    cursor: pointer;
}

.listad-noticias {
    width: 43.75rem;
    float: left;
}
.contenido {
    width: 60rem;
    margin: 0 auto;
}
